<div id="top">
	<div class="image" id="background" align="center">
	</div>	
</div>
<div id="bottom">
	<div id="leftside">
		<p class="righty">announcements</p>
		<div id="announcements">	
			Upcoming Techmasters meeting on Wednesday, January 14th at 1:30 pm. You'll find us in the room off the stairs on the second floor of Gelb.
		</div>
		<p class="righty">about the club</p>
		<div id="about">
		<!-- IMBEDDED RUBY HERE. WATCH SECTION BELOW!!! This uses the Rails helper link_to to make links, the first argument to link_to is the link text, while the second is the URL. The third argument is an options hash, in this case ading the CSS id logo to the sample app link. Note that this is completely optional.-->
		I'm going to test links here. Let's try it!
		<%= link_to "sample app", '#', id: "logo" %><br />
		Other link test?
		<li><%= link_to "Test Link to About Page", about_path %></li>
		</div>
		<p class="righty">tutorials</p>
		<div id="tutorials">
					
				<a href="home.html" class="mainlink">Home</a><br />
						
				<button class="linkbutton">Ruby Tutorials</button>
				<p class="linkie">
					<a href="home.html" class="link">Home</a>
				</p><br />
						
				<button class="linkbutton">HTML Tutorials</button>
				<p class="linkie">
					<a href="home.html" class="link">Home</a>
				</p><br />
						
				<button class="linkbutton">Windows Vista Tutorials</button>
				<p class="linkie">
					<a href="home.html" class="link">Home</a>
				</p><br />

		</div>
	</div>
	<div id="rightside">
		<div id="rightcontent"
			<%= yield %>
		</div>
	</div>
</div>